/* ------------------------------------
    ! default style start
--------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
  color: #121212;
}
h3 {
  font-size: 2rem;
  color: #707070;
}
h4 {
  font-size: 1.4rem;
}
p {
  color: #707070;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 5rem;
}
.btn {
  padding: 0.7rem 2rem;
  background-color: #ff5959;
  color: white;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: all 0.5s;
}
.btn:hover {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  color: #ff5959;
}
.mt {
  margin-top: 5rem;
}
.mb {
  margin-bottom: 5rem;
}
/* ------------------------------------
    ! default style end
--------------------------------------*/

/* ------------------------------------
    ! header-section style start
--------------------------------------*/
#header-section {
  height: 100vh;
  background-image: url("../images/donation5.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-section::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  color: white;
}
.header-text {
  width: 50%;
  text-align: center;
  z-index: 1000;
}
.header-text p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
}
/* ------------------------------------
    ! header-section style end
--------------------------------------*/

/* ------------------------------------
    ! donate-section style end
--------------------------------------*/
.content-header {
  text-align: center;
}
.content-header p {
  width: 50%;
  margin: 1rem auto;
}
.donate-boxs {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.donate-box {
  width: 135px;
  height: 123px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
}
#box-2 {
  background-color: #ffeeee;
}
#box-2 h3 {
  color: #ff5959;
}
.donate-field {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.donate-field div {
  text-align: center;
}
.donate-input {
  width: 800px;
  display: block;
  border: none;
  padding: 1rem;
  border-bottom: 3px solid #dadada;
  margin-bottom: 2rem;
  text-align: center;
  outline: none;
}
/* ------------------------------------
    ! donate-section style end
--------------------------------------*/

/* ------------------------------------
    ! our-plan-section style end
--------------------------------------*/
.our-plans {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 3rem;
}
.our-plan img {
  width: 15%;
  margin-bottom: 1rem;
}
.our-plan {
  width: 360px;
  height: 352px;
  padding: 0 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0);
  transition: all 0.5s;
}
.our-plan:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
}
.plan-details p {
  margin-top: 1rem;
}
#plan-1 {
  background: rgba(79, 157, 166, 0.1);
}
#plan-2 {
  background: rgba(255, 89, 89, 0.1);
}
#plan-3 {
  background: #fff4d6;
}
/* ------------------------------------
    ! our-plan-section style end
--------------------------------------*/

/* ------------------------------------
    ! update-section style end
--------------------------------------*/
.update-content {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.update {
  width: 60%;
  background-color: #fff4d6;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}
.update-input {
  width: 50%;
  padding: 0 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  outline: none;
}
.update-input,
textarea {
  background: #d9d9d9;
}
.update-btn {
  border-radius: 0 0.5rem 0.5rem 0;
}
/* ------------------------------------
    ! update-section style end
--------------------------------------*/
