/* ------------------------------------
    ! default style start
--------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
p {
}
img {
}
/* ------------------------------------
    ! default style end
--------------------------------------*/
